.Blogs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.Blogs li {
    display: inline-block;
    margin: 20px
}
    
.Blogs a{
    text-decoration: none;
    color: black;
}

.Blogs a:hover{
    color: #8afa3f
}

.Blogs a:active{
    color: #fa923f
}

.my-active-class{
    color: #fa923f !important;
}